<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <title>TechnoQuantum</title>
  <meta charset="utf-8" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Fusion - Bootstrap 4 Template</title>

  <!-- Bootstrap CSS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static "assets/css/bootstrap.min.css" %}" type="text/css">
  <!-- Icon -->
  <link rel="stylesheet" href="{% static 'assets/fonts/line-icons.css' %}" type="text/css">
  <!-- Owl carousel -->
  <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'assets/css/owl.theme.css' %}" type="text/css">

  <!-- Animate -->
  <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}" type="text/css">
  <!-- Main Style -->
  <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" type="text/css">
  <!-- Responsive Style -->
  <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}" type="text/css">
  <link rel="stylesheet" href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css">

</head>

<body class="body" style="background-color:#f6f6f6">
    <div>
      {% block content %}
      {% endblock %}
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'assets/js/jquery-min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/wow.js' %}"></script>
    <script src="{% static 'assets/js/jquery.nav.js' %}"></script>
    <script src="{% static 'assets/js/scrolling-nav.js' %}"></script>
    <script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/form-validator.min.js' %}"></script>
    <script src="{% static 'assets/js/contact-form-script.min.js' %}"></script>

</body>


</html>
